<!-- Articles Text -->
<div class="articles-half-width-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 articles-half-width-text wow fadeInLeft">
        <div class="articles-image-wrapper wow fadeInUp">
          <img src="http://placehold.it/400x500" />
        </div>
        <h3>Lorem Ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <span class="violet">suscipit lobortis</span>
          nisl ut aliquip ex ea commodo consequat. Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do <strong>eiusmod tempor</strong> incididunt.
        </p>
      </div>
      <div class="col-sm-6 articles-half-width-text wow fadeInUp">
        <div class="articles-image-wrapper wow fadeInUp">
          <img src="http://placehold.it/400x500" />
        </div>
        <h3>Dolor Sit Amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <span class="violet">suscipit lobortis</span>
          nisl ut aliquip ex ea commodo consequat. Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do <strong>eiusmod tempor</strong> incididunt.
        </p>
      </div>
    </div>
  </div>
</div>
