@mixin bg-img($img, $size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
  background: url("../img/#{$img}") $posX $posY $repeat;
  background-size: $size;
}

@mixin keep-aspect-ratio($x, $y, $width) {
  position: relative;
  content: "";
  width: $width;
  padding-top: ($y / $x) * $width;
  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
